<div class="language-flags" aria-label="Translated summaries">
  <button type="button" data-language="en" aria-label="English summary" aria-pressed="true">
    <img src="{{ asset_base }}/img/flags/en.svg" alt="" aria-hidden="true">
  </button>
  <button type="button" data-language="es" aria-label="Spanish summary">
    <img src="{{ asset_base }}/img/flags/es.svg" alt="" aria-hidden="true">
  </button>
  <button type="button" data-language="fr" aria-label="French summary">
    <img src="{{ asset_base }}/img/flags/fr.svg" alt="" aria-hidden="true">
  </button>
  <button type="button" data-language="de" aria-label="German summary">
    <img src="{{ asset_base }}/img/flags/de.svg" alt="" aria-hidden="true">
  </button>
</div>
